<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UEM管理页面</title>
 <meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" type="text/css"  href="css/stylelogin.css">	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
 </head>
 <body>
	<div class="ld_header">
		<div class="ld_header_in">
			<div class="ld_logo">
				<img src="img/ld_logoin.png" style="margin-left: -80px">
							</div>
	    </div>
	</div>


<div class="container" style="width: 300px;height: 500px;float: left;margin-left: 30px;">
<ul class="nav nav-list">
  <li class="active"><a href="#"> 日程安排</a></li>
  <li><a href="#"> 报名管理</a></li>
  <li><a href="#"> 成绩管理</a></li>
  <li><a href="#"> 日志管理</a></li>
  <li><a href="#"> 个人信息维护</a></li>
</ul>
</div>

<div class="container" style="width: 900px;height: 550px;float: right;margin-right: 60px;background-color:#F0FFFF;" >
	
	</div>
</body>
</html>