<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >UEM考试网——属于你的考试网站</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="news.html">考试新闻</a></li>
            <li><a href="sign.html">网上报名</a></li>
            <li class="active"><a href="grade.html">成绩查询</a></li>
            <li><a href="contact.html">联系我们 </a></li>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>


    <div class="page-header" >
        <h1 style="margin-top: 80px;margin-left: 30px;">成绩查询</h1>
     <div class="row" style="margin-left:900px;width: 750px; margin-top:-40px;">
    <div class="col-lg-6">
      <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
           <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
           </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
      </div>
      <div class="page-header" >
        <img src="img/home.png" width="30px" height="30px" style="margin-left: 40px;float: left;margin-top: -25px"> 
         <a href="index.html" style="margin-left: 40px;float: left;margin-top: -20px">首页></a>
      </div>

  </body>
</html>