<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>管理员登录</title>
 <meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" type="text/css"  href="css/stylelogin.css">	
 </head>
<body>
	<div class="ld_header">
		<div class="ld_header_in">
			<div class="ld_logo">
				<img src="img/ld_logoin.png" style="margin-left: -50px">
							</div>
	    </div>
	</div>
	<div class="ldL_con">
		<div class="ldL_con_in">
			<div class="ld_form">
				<form id="login-form"  method="post" action="login_action.asp">
					<h3 class="form_title">管理员登录</h3>
					<p>
						<input type="text" name="userName" id="userName"/>
					</p>
					<p>
						<input type="password" id="password" name="password" class="ld_pass"/>
					</p>
					
					<div class="ld_login">
						<div class="ld_login_in" id="bt-login">马上登录</div>
						<div id="login-msg"></div>
						 
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
<div class="ld_footer">
    <div class="ld_footer_in">
        <p>技术支持<br>杭电信工UEM科技有限公司</p>
    </div>
</div>
 </body>
</html>