<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >UEM考试网——属于你的考试网站</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="news.html">考试新闻</a></li>
            <li  class="active"><a href="sign.html">网上报名</a></li>
            <li><a href="grade.html">成绩查询</a></li>
            <li><a href="contact.html">联系我们 </a></li>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

        <div class="page-header" >
        <h1 style="margin-top: 80px;margin-left: 30px;">网上报名</h1>
     <div class="row" style="margin-left:900px;width: 750px; margin-top:-40px;">
    <div class="col-lg-6">
      <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
           <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
           </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
      </div>
      <div class="page-header" >
        <img src="img/home.png" width="30px" height="30px" style="margin-left: 40px;float: left;margin-top: -25px"> 
         <a href="index.html" style="margin-left: 40px;float: left;margin-top: -20px">首页></a>
      </div>

<div class="row" style="margin-left: 30px;float: left;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/cet4.jpg" alt="CET4" style="width: 360px;height: 170px;">
      <div class="caption">
        <h3>大学英语四级考试</h3>
        <p>College English Test Band 4的缩写，是由国家教育部高等教育司主持的全国性英语考试。考试的主要对象是根据教育大纲修完大学英语四级的在校专科生、本科生或研究生。大学英语四、六级标准化考试自1986年末开始筹备，1987年正式实施。英语四级考试目的是推动大学英语教学大...</p>
        <p><center><a href="form.html" class="btn btn-primary" role="button">点击报名</a></center></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="margin-left: 30px;">
    <div class="thumbnail">
      <img src="img/cet6.jpg" alt="CET4" style="width: 360px;height: 170px;">
      <div class="caption">
        <h3>大学英语六级考试</h3>
        <p>College English Test-6是由国家统一出题的，统一收费，统一组织考试，用来评定应试人英语能力的全国性的考试，每年各举行两次。大学英语六级考试作为一项全国性的教学考试由“国家教育部高教司”主办，每年各举行两次。从2005年1月起，成绩满分为710分，凡考试成绩在220分以...</p>
        <p><center><a href="form.html" class="btn btn-primary" role="button">点击报名</a></center></p>
      </div>
    </div>
  </div>

  
</div>


  </body>
</html>